* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --base-color: 194;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --bg-primary: hsl(var(--base-color), 100%, 63%);
  --bg-color: hsla(var(--base-color), 5%, 7%, 1);

  --tx-color: rgba(255, 255, 255, 1);
}
.hide {
  display: none;
}
body {
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  display: grid;
  min-height: 100vh;
}
main {
  justify-self: center;
  align-self: flex-end;
}
.timer {
  font-size: clamp(3.2rem, 5rem + 50vw, 8.8rem);
  display: flex;
  color: var(--tx-color);
  margin-bottom: 1.6rem;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}
.play svg path,
.pause svg path,
.on svg path {
  fill: var(--bg-primary)
}
.controls {
  background-color: hsla(var(--base-color), 100%, 63%, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  border-radius: 999px;
  width: clamp(10rem, 11rem + 50vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vw, 10.8rem);
}
footer {
  justify-self: end;
  align-self: end;
  padding: 0 4.2rem 3.2rem 0;
}